@media only screen and (max-width: 199px){
    main{
        padding: 0 8px;
    }
}
@media only screen and (max-width: 768px){
    .title{
        font-size: 32px;
        color: #48A300;
        text-align: center;
    }
    .goal-container{
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        margin-bottom: 24px;
    }
    .custom-checkbox{
        height: 20px;
        width: 20px;
        border: 2px solid rgba(97, 72, 28, 0.3);
        background-color: transparent;
        border-radius: 50%;
        flex-shrink: 0;
        cursor: pointer;
    }
    .progress-bar{
        height: 22px;
        background-color: rgba(72, 163, 0, 0.1);
        border-radius: 15px;
    }
    .made-with{
        font-size: 10px;
        font-weight: 500;
        color: #858585;
        text-align: center;
        margin-top: 32px;
    }
}
@media only screen and (max-width: 295px){
    .title{
        font-size: 25px;
        color: #48A300;
        text-align: center;
    }
}
@media only screen and (max-width: 231px){
    .title{
        font-size: 18px;
        color: #48A300;
        text-align: center;
    }
}
@media only screen and (max-width: 768px){
    .app-container{
        background-color: #FBFBFB;
        max-width: 660px;
        margin: 0 auto;
        border-radius: 15px;
        padding: 16px 32px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }
}
@media only screen and (max-width: 231px){
    .app-container img{
        width: 35px;
    }
}
@media only screen and (max-width: 296px){
    .subtitle{
        font-size: 19px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 231px){
    .subtitle{
        font-size: 13px;
        padding-right: 10px;
    }
}